@charset "UTF-8";
/*Перевод в em, rem, %*/
/*Адаптивное свойство*/
/*Обнуляющий стиль*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  cursor: default;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Шрифты*/
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg"); /* Chrome < 4, Legacy iOS */
}
/*Сетка*/
.container {
  padding: 0 170px;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 70.625em) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 50em) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 33.125em) {
  .container {
    padding: 0 33px;
  }
}
@media (max-width: 21.5625em) {
  .container {
    padding: 0 10px;
  }
}
/*Меню-бургер*/
.burger-menu {
  width: 35px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 65px;
  display: none;
  z-index: 2;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.burger-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.burger-menu span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.burger-menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.burger-menu.active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.burger-menu.active:before {
  position: absolute;
  background: #000;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.burger-menu.active span {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.burger-menu.active:after {
  position: absolute;
  background: #000;
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

/*Блок скрола при активном меню*/
body.lock {
  overflow: hidden;
}

/*Мобильное меню*/
.mobile-menu {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 1;
  font-size: 2.125rem;
  padding: 1.9411764706em 0 0 0.7647058824em;
  overflow: auto;
  -webkit-transition: all 0.65s ease-out 0s;
  transition: all 0.65s ease-out 0s;
}
.mobile-menu__link {
  margin-bottom: 2em;
  font-family: Gilroy-Bold;
  color: #828282;
}
.mobile-menu__link:last-child {
  margin-bottom: 0;
}
.mobile-menu__link:active {
  color: #070707;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.mobile-menu.active {
  -webkit-transition: all 0.65s ease-out 0s;
  transition: all 0.65s ease-out 0s;
  top: 0;
}

/*Общее*/
/**************************************************/
.title {
  font-size: 2.125rem;
  font-family: Gilroy-Bold;
  text-align: center;
}

/**************************************************/
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 1.125rem;
  font-family: Gilroy-Bold;
  color: #828282;
  padding: 1.8333333333em 0;
}
.header__links:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #828282;
}
.header__link {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (hover: hover) {
  .header__link:hover {
    color: #070707;
    -webkit-transform: scale(1.1) translate(1px, 3px);
            transform: scale(1.1) translate(1px, 3px);
  }
}
.header__link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

/**************************************************/
.person {
  padding-top: 2.5rem;
  padding-bottom: 6.5rem;
}
@media (max-width: 80em) {
  .person {
    padding-bottom: calc(5.1875rem + 1.3125 * ((100vw - 26.875rem) / 53.125));
  }
}
.person__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}
@media (max-width: 80em) {
  .person__info {
    margin-bottom: calc(1.5625rem + 1.5625 * ((100vw - 26.875rem) / 53.125));
  }
}
.person__name {
  font-size: 2.9375rem;
  line-height: normal;
  font-family: Gilroy-Bold;
}
.person__text {
  margin-top: auto;
  font-size: 1.125rem;
  font-family: Gilroy-Medium;
  line-height: normal;
}
.person__photo {
  position: relative;
  width: 100%;
}
.person__photo img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/**************************************************/
.about {
  padding-top: 7.5rem;
  padding-bottom: 6.6875rem;
  background: #F6F6F6;
}
@media (max-width: 80em) {
  .about {
    padding-top: calc(5.0625rem + 2.4375 * ((100vw - 26.875rem) / 53.125));
  }
}
@media (max-width: 80em) {
  .about {
    padding-bottom: calc(4.75rem + 1.9375 * ((100vw - 26.875rem) / 53.125));
  }
}
.about__title {
  margin-bottom: 1.0625rem;
}
@media (max-width: 80em) {
  .about__title {
    margin-bottom: calc(1.8125rem + -0.75 * ((100vw - 26.875rem) / 53.125));
  }
}
.about__text {
  text-align: center;
  font-size: 1.125rem;
  line-height: normal;
  font-family: Gilroy-Medium;
  margin-bottom: 50px;
}
.about__text:last-child {
  margin-bottom: 3.125rem;
}
@media (max-width: 80em) {
  .about__text:last-child {
    margin-bottom: calc(2.8125rem + 0.3125 * ((100vw - 26.875rem) / 53.125));
  }
}

/**************************************************/
.skills {
  padding-top: 5.6875rem;
  padding-bottom: 6.875rem;
}
@media (max-width: 80em) {
  .skills {
    padding-top: calc(5.1875rem + 0.5 * ((100vw - 26.875rem) / 53.125));
  }
}
@media (max-width: 80em) {
  .skills {
    padding-bottom: calc(6.125rem + 0.75 * ((100vw - 26.875rem) / 53.125));
  }
}
.skills__title {
  margin-bottom: 4.3125rem;
}
@media (max-width: 80em) {
  .skills__title {
    margin-bottom: calc(3.125rem + 1.1875 * ((100vw - 26.875rem) / 53.125));
  }
}
.skills__text {
  text-align: center;
  font-size: 1.125rem;
  font-family: Gilroy-Medium;
  margin-bottom: 5.1875rem;
}
@media (max-width: 80em) {
  .skills__text {
    margin-bottom: calc(4.375rem + 0.8125 * ((100vw - 26.875rem) / 53.125));
  }
}
.skills__programs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 5em;
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.375em;
          flex: 0 0 10.375em;
}
.skills__label {
  width: 5.5625em;
  height: 5.5em;
  position: relative;
  margin: 0 auto 1.5em auto;
}
.skills__label img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.skills .figma .skills__label {
  width: 3.625em;
}
.skills .figma .skills__program-name {
  margin-bottom: 3.8571428571em;
}
.skills__program-name {
  font-size: 0.875rem;
  font-family: Gilroy-Bold;
  color: #828282;
  margin-bottom: 2.8571428571em;
  text-align: center;
}
.skills__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**************************************************/
.portfolio {
  padding-top: 7.0625rem;
  padding-bottom: 5.75rem;
  background: #F6F6F6;
}
@media (max-width: 80em) {
  .portfolio {
    padding-top: calc(5.0625rem + 2 * ((100vw - 26.875rem) / 53.125));
  }
}
@media (max-width: 80em) {
  .portfolio {
    padding-bottom: calc(5.0625rem + 0.6875 * ((100vw - 26.875rem) / 53.125));
  }
}
.portfolio__title {
  margin-bottom: 2.9375rem;
}
@media (max-width: 80em) {
  .portfolio__title {
    margin-bottom: calc(4rem + -1.0625 * ((100vw - 26.875rem) / 53.125));
  }
}
.portfolio__item {
  margin-bottom: 6.1875rem;
}
@media (max-width: 80em) {
  .portfolio__item {
    margin-bottom: calc(4.8125rem + 1.375 * ((100vw - 26.875rem) / 53.125));
  }
}
.portfolio__item:last-child {
  margin-bottom: 0;
}
.portfolio__img {
  width: 100%;
  margin-bottom: 2.75rem;
}
@media (max-width: 80em) {
  .portfolio__img {
    margin-bottom: calc(2.0625rem + 0.6875 * ((100vw - 26.875rem) / 53.125));
  }
}
.portfolio__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__link {
  text-align: center;
  font-size: 1.125rem;
  font-family: Gilroy-Medium;
}
.portfolio__link a {
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-decoration: underline;
}
@media (hover: hover) {
  .portfolio__link a:hover {
    color: #f00039;
    -webkit-transform: scale(1.1) translate(1px, 3px);
            transform: scale(1.1) translate(1px, 3px);
  }
}
.portfolio__link a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

/**************************************************/
.contacts {
  padding-top: 7.125rem;
  padding-bottom: 5.375rem;
}
@media (max-width: 80em) {
  .contacts {
    padding-top: calc(5.125rem + 2 * ((100vw - 26.875rem) / 53.125));
  }
}
@media (max-width: 80em) {
  .contacts {
    padding-bottom: calc(3rem + 2.375 * ((100vw - 26.875rem) / 53.125));
  }
}
.contacts__title {
  margin-bottom: 2.3125rem;
}
@media (max-width: 80em) {
  .contacts__title {
    margin-bottom: calc(2.75rem + -0.4375 * ((100vw - 26.875rem) / 53.125));
  }
}
.contacts__text {
  font-size: 1.125rem;
  font-family: Gilroy-Medium;
  text-align: center;
  line-height: normal;
  margin-bottom: 38px;
}
.contacts__button {
  margin: 0 auto;
  width: 10em;
  height: 2.3333333333em;
  text-align: center;
  background: #070707;
  border-radius: 21px;
  color: #ffffff;
  font-size: 1.125rem;
  font-family: Gilroy-Bold;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.contacts__button a {
  padding-top: 11px;
  width: 100%;
  height: 100%;
  display: block;
}
@media (hover: hover) {
  .contacts__button:hover {
    -webkit-transform: scale(1.1) translate(1px, 3px);
            transform: scale(1.1) translate(1px, 3px);
  }
}
.contacts__button:active {
  background: #828282;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

/**************************************************/
.footer {
  padding-bottom: 7.6875rem;
}
@media (max-width: 80em) {
  .footer {
    padding-bottom: calc(5.625rem + 2.0625 * ((100vw - 26.875rem) / 53.125));
  }
}
.footer__text {
  font-size: 0.875rem;
  font-family: Gilroy-Medium;
  line-height: normal;
  color: #828282;
  text-align: center;
}
@media (max-width: 80em) {
  .footer__text {
    font-size: calc(1.125rem + -0.25 * ((100vw - 26.875rem) / 53.125));
  }
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 2.375rem;
  font-weight: bold;
  margin-bottom: 2.8125rem;
}
.footer__icons .icon-linkdln {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .footer__icons .icon-linkdln:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #828282;
  }
}
.footer__icons .icon-linkdln:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.footer__icons .icon-instagram {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .footer__icons .icon-instagram:hover {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    color: #828282;
  }
}
.footer__icons .icon-instagram:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.footer__icons .icon-behance {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .footer__icons .icon-behance:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #828282;
  }
}
.footer__icons .icon-behance:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.footer__icons .icon-dribble {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .footer__icons .icon-dribble:hover {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    color: #828282;
  }
}
.footer__icons .icon-dribble:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}