/*Перевод в em, rem, %*/
//В %
@function prc($px, $px2) {
	$result: $px/$px2 * 100%;
	@return $result;
}
// $px - объект в макете
// $px2 - родитель данного объекта

//В rem
@function rem($px) {
	$result: $px/16 + rem;
	@return $result;
}

//В em
@function em($px, $px2) {
	$result: $px/$px2 + em;
	@return $result;
}
// $px - объект в макете
// $px2 - размер шрифта объекта(свой или унаследованный)

/*Адаптивное свойство*/
$maxWidthTemplate: 1440;
$maxWidthContainer: 1280;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize/16 - $minSize/16;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize/16 + rem;
		@media (max-width: #{$maxWidthContainer/16 + em}) {
			#{$property}: calc(#{$minSize/16 + rem} + #{$addSize} * ((100vw - 26.875rem) / #{$maxWidthContainer/16 - 26.875}));
		}
	}
	@else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize/16 + rem;
		@media (min-width: #{$maxWidthContainer/16 + em}) {
			#{$property}: calc(#{$minSize/16 + rem} + #{$addSize} * ((100vw - 26.875rem) / #{$maxWidthTemplate/16 - 26.875}));
		}
	}
	@else {
		//Всегда
		#{$property}: calc(#{$minSize/16 + rem} + #{$addSize} * ((100vw - 26.875rem) / #{$maxWidthTemplate/16 - 26.875}));
	}
}


/*Обнуляющий стиль*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	cursor: default;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*Шрифты*/

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

/*Сетка*/

.container {
	padding: 0 170px;
	max-width: 1280px;
	margin: 0 auto;
}

//1130px
@media (max-width: 70.625em) {
	.container {
		padding: 0 100px;
	}
}
//800px
@media (max-width: 50em) {
	.container {
		padding: 0 50px;
	}
}
//530px
@media (max-width: 33.125em) {
	.container {
		padding: 0 33px;
	}
}
//<375px
@media (max-width: 21.5625em) {
	.container {
		padding: 0 10px;
	}
}

/*Меню-бургер*/

.burger-menu {
	width: 35px;
	height: 25px;
	position: absolute;
	right: 30px;
	top: 65px;
	display: none;
	z-index: 2;
	transition: all 0.7s ease 0s;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: #000;
		transition: all 0.5s ease 0s;
	}
	& span {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 4px;
		background: #000;
		transition: all 0.6s ease 0s;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: #000;
		transition: all 0.6s ease 0s;
	}
}

.burger-menu.active {
	transform: rotate(-360deg);
	transition: all 0.7s ease 0s;
	&:before {
		position: absolute;
		background: #000;
		top: 10px;
		transform: rotate(45deg);
		transition: all 0.6s ease 0s;
	}
	& span {
		transform: scale(0, 0);
		transition: all 0.1s ease 0s;
	}
	&:after {
		position: absolute;
		background: #000;
		bottom: 11px;
		transform: rotate(-45deg);
		transition: all 0.6s ease 0s;
	}
}

/*Блок скрола при активном меню*/

body.lock {
	overflow: hidden;
}

/*Мобильное меню*/

.mobile-menu {
	position: fixed;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 1;
	font-size: rem(34);
	padding: em(66, 34) 0 0 em(26, 34);
	overflow: auto;
	transition: all 0.65s ease-out 0s;
	&__links {}
	&__link {
		margin-bottom: em(68, 34);
		font-family: Gilroy-Bold;
		color: #828282;
		&:last-child {
			margin-bottom: 0;
		}
		&:active {
			color: #070707;
			transform: scale(0.9);
			transition: all 0.1s ease 0s;
		}
	}
}
.mobile-menu.active {
	transition: all 0.65s ease-out 0s;
	top: 0;
}

/*Общее*/
/**************************************************/

.title {
	font-size: rem(34);
	font-family: Gilroy-Bold;
	text-align: center;
}

/**************************************************/

.header {
	&__links {
		display: flex;
		justify-content: space-between;
		position: relative;
		font-size: rem(18);
		font-family: Gilroy-Bold;
		color: #828282;
		padding: em(33, 18) 0;
		&:after {//полоска под пунктами меню
			content: '';
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #828282;
		}
	}
	&__link {
		transition: all 0.4s ease 0s;
		@media (hover: hover) {
			&:hover {
				color: #070707;
				transform: scale(1.1) translate(1px, 3px);
			}
		}
		&:active {
			transform: scale(0.9);
			transition: all 0.1s ease 0s;
		}
	}
}

/**************************************************/

.person {
	padding-top: rem(40);
	@include adaptive-value("padding-bottom", 104, 83, 1);
	&__info {
		display: flex;
		justify-content: space-between;
		@include adaptive-value("margin-bottom", 50, 25, 1);
	}
	&__name {
		font-size: rem(47);
		line-height: normal;
		font-family: Gilroy-Bold;
	}
	&__text {
		margin-top: auto;
		font-size: rem(18);
		font-family: Gilroy-Medium;
		line-height: normal;
	}
	&__photo {
		position: relative;
		width: 100%;
		& img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
			object-fit: cover;
		}
	}
}

/**************************************************/

.about {
	@include adaptive-value("padding-top", 120, 81, 1);
	@include adaptive-value("padding-bottom", 107, 76, 1);
	background: #F6F6F6;
	&__body {}
	&__title {
		@include adaptive-value("margin-bottom", 17, 29, 1);
	}
	&__text {
		text-align: center;
		font-size: rem(18);
		line-height: normal;
		font-family: Gilroy-Medium;
		margin-bottom: 50px;
		&:last-child {
			@include adaptive-value("margin-bottom", 50, 45, 1);
		}
	}
}

/**************************************************/

.skills {
	@include adaptive-value("padding-top", 91, 83, 1);
	@include adaptive-value("padding-bottom", 110, 98, 1);
	&__body {}
	&__title {
		@include adaptive-value("margin-bottom", 69, 50, 1);
	}
	&__text {
		text-align: center;
		font-size: rem(18);
		font-family: Gilroy-Medium;
		@include adaptive-value("margin-bottom", 83, 70, 1);
	}
	&__programs {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 35px;
		row-gap: em(80, 16);
	}
	&__item {
		display: flex;
		flex-direction: column;
		flex: 0 0 em(166, 16);
	}
	&__label {
		width: em(89, 16);
		height: em(88, 16);
		position: relative;
		margin: 0 auto em(24, 16) auto;
		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	.figma {
		.skills__label {
			width: em(58, 16);
		}
		.skills__program-name {
			margin-bottom: em(54, 14);
		}
	}
	&__program-name {
		font-size: rem(14);
		font-family: Gilroy-Bold;
		color: #828282;
		margin-bottom: em(40, 14);
		text-align: center;
	}
	&__stars {
		display: flex;
		justify-content: space-between;
	}
}

/**************************************************/

.portfolio {
	@include adaptive-value("padding-top", 113, 81, 1);
	@include adaptive-value("padding-bottom", 92, 81, 1);
	background: #F6F6F6;
	&__body {}
	&__title {
		@include adaptive-value("margin-bottom", 47, 64, 1);
	}
	&__item {
		@include adaptive-value("margin-bottom", 99, 77, 1);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__img {
		width: 100%;
		@include adaptive-value("margin-bottom", 44, 33, 1);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__link {
		text-align: center;
		font-size: rem(18);
		font-family: Gilroy-Medium;
		& a {
			display: inline-block;
			transition: all 0.4s ease 0s;
			text-decoration: underline;
		}
		@media (hover: hover) {
			& a:hover {
				color: #f00039;
				transform: scale(1.1) translate(1px, 3px);
			}
		}
		& a:active {
			transform: scale(0.9);
			transition: all 0.1s ease 0s;
		}
	}
}

/**************************************************/

.contacts {
	@include adaptive-value("padding-top", 114, 82, 1);
	@include adaptive-value("padding-bottom", 86, 48, 1);
	&__title {
		@include adaptive-value("margin-bottom", 37, 44, 1);
	}
	&__text {
		font-size: rem(18);
		font-family: Gilroy-Medium;
		text-align: center;
		line-height: normal;
		margin-bottom: 38px;
	}
	&__button {
		margin: 0 auto;
		width: em(180, 18);
		height: em(42, 18);
		text-align: center;
		background: #070707;
		border-radius: 21px;
		color: #ffffff;
		font-size: rem(18);
		font-family: Gilroy-Bold;
		transition: all 0.4s ease 0s;
		& a {
			padding-top: 11px;
			width: 100%;
			height: 100%;
			display: block;
		}
		@media (hover: hover) {
			&:hover {
				transform: scale(1.1) translate(1px, 3px);
			}
		}
		&:active {
			background: #828282;
			transform: scale(0.9);
			transition: all 0.1s ease 0s;
		}
	}
}

/**************************************************/


.footer {
	@include adaptive-value("padding-bottom", 123, 90, 1);
	&__text {
		@include adaptive-value("font-size", 14, 18, 1);
		font-family: Gilroy-Medium;
		line-height: normal;
		color: #828282;
		text-align: center;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		max-width: 400px;
		padding: 0 30px;
		margin: 0 auto;
		font-size: rem(38);
		font-weight: bold;
		margin-bottom: rem(45);
		.icon-linkdln {
			transition: all 0.3s ease 0s;
			@media (hover: hover) {
				&:hover {
					transform: rotate(360deg);
					color: #828282;
				}
			}
			&:active {
				transform: scale(0.9);
				transition: all 0.1s ease 0s;
			}
		}
		.icon-instagram {
			transition: all 0.3s ease 0s;
			@media (hover: hover) {
				&:hover {
					transform: rotate(-360deg);
					color: #828282;
				}
			}
			&:active {
				transform: scale(0.9);
				transition: all 0.1s ease 0s;
			}
		}
		.icon-behance {
			transition: all 0.3s ease 0s;
			@media (hover: hover) {
				&:hover {
					transform: rotate(360deg);
					color: #828282;
				}
			}
			&:active {
				transform: scale(0.9);
				transition: all 0.1s ease 0s;
			}
		}
		.icon-dribble {
			transition: all 0.3s ease 0s;
			@media (hover: hover) {
				&:hover {
					transform: rotate(-360deg);
					color: #828282;
				}
			}
			&:active {
				transform: scale(0.9);
				transition: all 0.1s ease 0s;
			}
		}
	}
}